#typing
{
    color: azure;
    font-size: 36px;
    font-family:monospace;
    position:absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
}
#typing::after {/*閃爍游標*/
    content: ""; /*content這行儘管留空但還是要寫*/
    display: inline-block;
    position: relative;/*相對定位在父層後面*/
    background-color: #e4d8d8;/*#7f7b7b*/
    width: 4px;
    height: 1.0em; 
    margin: 0 0 -3px 2px;
    animation: cursor 1s infinite; 
}

@keyframes cursor {/*閃爍游標的透明度動畫*/
    0% {
        opacity: 0; 
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}